database.user====postgres
database.password====""
database/host====localhost
database/port====5434
database/name====gokit_demo
database/max_idle_connections====5
database/max_open_connections====5
database/log_mode====true

server/port====8080
server/logging_level====info
honeybadger.api_key====hihihaha

queue/host====localhost
queue/port====5672
queue/name====gaia
queue.username====guest
queue.password====guest

redis/host====localhost
redis/port====6379
redis/db====0
redis/max_idle_connections====8
redis/idle_timeout====30
